h1 {
    color:#000000;
}

* {
    border: solid;
}

.header{background-color: #b96d66;
    display:flex;
    justify-content: space-between ;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.item{
    display: flex;
    justify-content: flex-end;
}
p{
    color:#a26400
}